@model DevCon2011.Specifications.Catalog.Product

<div class="display-field">
    <div>
        @Html.DisplayTextFor(m => m.Caption)
    </div>
    <div>
        @Html.DisplayTextFor(m => m.Description)
    </div>
    <div>
        @Html.DisplayTextFor(m => m.Price) $
    </div>
</div>